# Import the libraries

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings("ignore")

# Visualising the Data

In [2]:
df = pd.read_csv(r'C:\Users\Sourav Kumar\Desktop\home assisgnment\House data.csv')
df

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21608,263000018,20140521T000000,360000.0,3,2.50,1530,1131,3.0,0,0,...,8,1530,0,2009,0,98103,47.6993,-122.346,1530,1509
21609,6600060120,20150223T000000,400000.0,4,2.50,2310,5813,2.0,0,0,...,8,2310,0,2014,0,98146,47.5107,-122.362,1830,7200
21610,1523300141,20140623T000000,402101.0,2,0.75,1020,1350,2.0,0,0,...,7,1020,0,2009,0,98144,47.5944,-122.299,1020,2007
21611,291310100,20150116T000000,400000.0,3,2.50,1600,2388,2.0,0,0,...,8,1600,0,2004,0,98027,47.5345,-122.069,1410,1287
21612,1523300157,20141015T000000,325000.0,2,0.75,1020,1076,2.0,0,0,...,7,1020,0,2008,0,98144,47.5941,-122.299,1020,1357

In [3]:
df.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503

# Data Cleaning - remove irrelevant columns.

In [4]:
x= df.drop(['id','date','grade','zipcode','long'],axis=1)
df.head(1)

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3,1.0,1180,5650,1.0,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650

In [5]:
y= df["price"]
y.head()

0    221900.0
1    538000.0
2    180000.0
3    604000.0
4    510000.0
Name: price, dtype: float64

# Exploratory data analysis - Visualization: Univariate, Bivariate, Multivariate.

In [6]:
from sklearn.model_selection import train_test_split

In [7]:
x_train,x_test,y_train,y_test= train_test_split(x,y,test_size=.30,random_state=1)

In [8]:
print("Set size of x",x.shape)
print("train set size of x",x_train.shape)
print("train set size of y",y_train.shape)

Set size of x (21613, 16)
train set size of x (15129, 16)
train set size of y (15129,)

In [9]:
print("train set size of x",x_test.shape)
print("train set size of y",y_test.shape)

train set size of x (6484, 16)
train set size of y (6484,)

# ### Building a model

In [10]:
from sklearn.linear_model import LinearRegression
from sklearn import metrics

In [11]:
lr = LinearRegression() # creating a linear Regression object "lr"

In [12]:
lr.fit(x_train,y_train)

LinearRegression()

In [13]:
print("The intercept term of the liner model:",lr.intercept_)
print("The coefficient of the linear model ",lr.coef_)

The intercept term of the liner model: -9.313225746154785e-10
The coefficient of the linear model  [ 1.00000000e+00 -9.92195495e-12 -3.59378456e-12  1.02607078e-14
  2.03280491e-18  5.70658039e-12  3.93142323e-11 -4.29467557e-12
  2.01701746e-12  3.55858889e-15  6.70277784e-15 -7.71642410e-14
 -1.15739889e-15  2.01928950e-11 -2.29668860e-15  2.98371823e-17]

In [14]:
train_pred = lr.predict(x_train)

In [15]:
metrics.mean_squared_error(y_train,train_pred)

1.2614556720244355e-20

In [16]:
test_pred = lr.predict(x_test)

In [17]:
print("Training Data(Mean Squared Error)", metrics.mean_squared_error(y_train,train_pred))
print("Training Data(Mean Absolute Error)",metrics.mean_absolute_error(y_train,train_pred))
print("Training Data(Root Mean Square Error)",np.sqrt(metrics.mean_squared_error(y_train,train_pred)))

Training Data(Mean Squared Error) 1.2614556720244355e-20
Training Data(Mean Absolute Error) 8.007545076850874e-11
Training Data(Root Mean Square Error) 1.1231454367197668e-10

In [18]:
print("Training Data(Mean Squared Error)", metrics.mean_squared_error(y_train,train_pred))
print("Training Data(Mean Absolute Error)",metrics.mean_absolute_error(y_train,train_pred))
print("Training Data(Root Mean Square Error)",np.sqrt(metrics.mean_squared_error(y_train,train_pred)))

Training Data(Mean Squared Error) 1.2614556720244355e-20
Training Data(Mean Absolute Error) 8.007545076850874e-11
Training Data(Root Mean Square Error) 1.1231454367197668e-10

# ### Evaluation metrics - RMSE, MSE, MAE, R-square

In [19]:
prediction= lr.predict(x_test)

In [20]:
print("Mean Squared Error",metrics.mean_squared_error(prediction,y_test))
print("Root Mean squared Error",np.sqrt(metrics.mean_squared_error(prediction,y_test)))

Mean Squared Error 1.4911189427493596e-20
Root Mean squared Error 1.2211138123653175e-10

In [21]:
print("R-Square Value of predictions", round(metrics.r2_score(y_test,prediction),2))

R-Square Value of predictions 1.0